<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Copyright (C) 2009 Curtis Nottberg
	// Licensed under Apache License version 2.0	
-->
<manifest android:versionCode="120" android:versionName="1.2"
    package="org.mdns.browser" xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:description="@string/app_desc"
        android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="org.mdns.browser.BrowseActivity"/>
        <activity android:name=".SwitchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name="org.hnode.HNodeService"/>
        <provider android:authorities="org.hnode.endpointprovider" android:name="org.hnode.HNodeProvider"/>
        <provider android:authorities="org.hnode.switchprovider" android:name="org.hnode.SwitchProvider"/>
        <activity android:name=".EndpointActivity"/>
        <activity android:name=".SwitchDataActivity"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
</manifest>
